<div class="search">
  <h1>Flickr Search</h1>

  <%= form_with url: static_pages_url, method: :get do |form| %>
    <p class="search__text">Enter a Flickr ID to see their photos</p>
      <%= form.label :user_id, "User ID:" %>
    <div class="search__row">
      <%= form.text_field :user_id, placeholder: "31779113@N06", class: "search__input" %>
      <%= form.submit "Search", class: "search__button" %>
    </div>
  <% end %>
  <div class="search__row">
    <%= link_to "Reset", static_pages_path, class: "search__link" %>
    <%= link_to "I'm Feeling Lucky", static_pages_path(user_id: @sample_id), class: "search__link" %>
  </div>
</div>


<div class="search-results">
  <% if @user_id %>
    <% if @photos.empty? %>
      <p>No images available for that user</p>
    <% else %>
      <div class="photo-grid">
        <% @photos.each do |image| %>
          <div class="thumbnail-image">
            <a href=<%= image["image_link"] %> >
              <%= image_tag(image["thumbnail"], alt: image["title"]) %>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>

  <% end %>
</div>
