<h1>Static pages</h1>

<%= form_with url: static_pages_url, method: :get do |form| %>
  <%= form.label :user_id, "User id:" %>
  <%= form.text_field :user_id %>
  <%= form.submit "Search" %>
<% end %>
<div>
  <%= link_to "Reset", static_pages_path %>
  <%= link_to "Feeling Lucky", static_pages_path(user_id: @sample_id) %>
</div>


<div>
  <% if @user_id %>
    <% if @photos.empty? %>
      <p>No images available for that user</p>
    <% else %>
      <% @photos.each do |image| %>
        <a href=<%= image["image_link"] %>>
          <%= image_tag(image["thumbnail"], alt: image["title"]) %>
        </a>
      <% end %>
    <% end %>

  <% end %>
</div>


